---
title: Siderman Vinyl
---

<%= partial 'carousel' %>

<div id="home">
  <div id="superhero-graphic">
    <div class="container">
      <%= image_tag 'superhero/top.png', class: 'top' %>
      <div class='middle' style="background-image:url('../images/superhero/middle.png');"></div>
      <%= image_tag 'superhero/bottom.png', class: 'bottom' %>
    </div>
  </div>
  <section class="large-spacing black">
    <div class="container align-center-sm">
      <div class="row">
        <div class="col-md-9">
          <h2 style="margin:0;line-height:40px;">Learn more about how Siderman can save the day.</h2>
        </div>
        <div class="col-md-3 align-right">
          <button class="btn btn-lg blue" data-toggle="modal" data-target="#contact_modal">CLICK HERE!</button>
        </div>
      </div>
    </div>
  </section>

  <section class="large-spacing">
    <div class="container">
      <div id="home_graphic">
        <div id="about" class="top">
          <%= image_tag "home-graphic/who-are-we.png", width: "400px", height: "110px", alt: "Who Are We?" %>
          <p>Siderman is a locally owned and operated company serving the Golden Triangle area. Quality is our top priority, which is why we source products from locally made, top of the line suppliers.</p>
          <p>Customer satisfaction is extremely important to us, which is why we partner with each customer to carry out the vision they have for their home.  Our goal is to deliver a service that exceeds your expectation!</p>
          <p>If you are looking to increase the value of your house or complete your dream renovation feel free to contact us today!</p>
        </div>
        <div class="middle"><%= image_tag 'home-graphic/middle.png' %></div>
        <div id="services" class="bottom-left">
          <%= image_tag "home-graphic/our-services.png", width: "415px", height: "92px", alt: "Our Services" %>
          <p>We offer the following services:</p>
          <ul style="font-size:18px;">
            <li>Horizontal and vertical vinyl siding</li>
            <li>board and batten, cedar shake and scallop siding</li>
            <li>Eavstrough, soffat and facia installation</li>
            <li>Custom cladding</li>
          </ul>
          <p><%= link_to 'Check out our work', '/gallery' %></p>
        </div>
        <div class="bottom-right">
          <div class="content-box">
            <%= image_tag "home-graphic/testimonials.png" %>
            <div class="testimonials cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-slides="> p" data-cycle-swipe="true" data-cycle-timeout="5000">
              <p>
                “Thank you for your very professional job.  It looks great.  I will happily recommend your services.”<br>
                - Rosa
              </p>
              <p>
                “John and his team were so wonderful to work with.”<br>
                - MK Contracting, Elora
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="large-spacing gray">
    <div class="container" style="text-align:center;">
      <p>
        <i>
          <b>&ldquo;A hero is an ordinary individual who ﬁnds the strength to persevere and endure in spite of overwhelming obstacles.&rdquo;</b><br>
          Christopher Reeve
        </i>
      </p>
    </div>
  </section>
</div>